flows/flows.json
[{"id":"8dbf35cb.54a7d8","type":"tab","label":"Accept request","disabled":false,"info":""},{"id":"7dbe8a1007b1c0cc","type":"tab","label":"Process report","disabled":false,"info":"","env":[]},{"id":"26e9cef1.8d9e02","type":"http in","z":"8dbf35cb.54a7d8","name":"","url":"/acceptRequest","method":"post","upload":false,"swaggerDoc":"","x":116.5,"y":65.00000095367432,"wires":[["b1b1a0e238b80d2c","0ea727178488e9cf"]]},{"id":"526ea140.aafd6","type":"http response","z":"8dbf35cb.54a7d8","name":"Return to client","statusCode":"","headers":{},"x":935.499870300293,"y":239.9998836517334,"wires":[]},{"id":"59951d72d5715d87","type":"http request","z":"8dbf35cb.54a7d8","name":"Send minimal SR to lab","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:9100/lab/ServiceRequest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":677.0198745727539,"y":484.3250255584717,"wires":[["d33e65970f5fed7a"]],"info":"Send to lab"},{"id":"b1b1a0e238b80d2c","type":"debug","z":"8dbf35cb.54a7d8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":286.01995849609375,"y":20,"wires":[]},{"id":"cc9f3235b78dc60a","type":"function","z":"8dbf35cb.54a7d8","name":"Basic validation","func":"//the payload should be a bundle containing at least a SR & QR\n//the SR \n\nlet bundle = msg.payload;\nmsg.errorMessage = null     //needed for the following switch\nif (bundle.entry) {\n\n    bundle.entry.forEach(function(entry){\n    //for (var entry in bundle.entry) {\n        //node.warn(entry)\n        if (entry.resource && entry.resource.resourceType && entry.resource.resourceType == 'ServiceRequest') {\n            //this is the ServiceRequest. Create a new one with just the identifiers to send to the lab\n            //assume there is only 1\n            if (entry.resource.identifier) {\n                msg.SR = { resourceType: \"ServiceRequest\", status: \"active\", intent: \"order\" }\n                msg.SR.identifier = entry.resource.identifier\n                //node.warn(\"SR found\")\n            } else {\n                msg.errorMessage = \"There was a ServiceRequest, but no identifier\"\n            }\n           \n        }\n    })\n    \n    //was a SR located & created?? If not, it's an error\n    if (!msg.SR && !msg.errorMessage){\n        msg.errorMessage = \"No ServiceRequest was found\"\n    }\n\n} else {\n    msg.errorMessage = \"No entry element was found\"\n}\n\n//node.warn(msg.errorMessage)\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":187.0170440673828,"y":184.8223762512207,"wires":[["82da7ae08d423e67"]]},{"id":"82da7ae08d423e67","type":"switch","z":"8dbf35cb.54a7d8","name":"Check for validation errorMessage","property":"errorMessage","propertyType":"msg","rules":[{"t":"nempty"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":196.0198516845703,"y":284.80530738830566,"wires":[["8484577b5b324ea7"],["85edde7bf9fdece3"]]},{"id":"8484577b5b324ea7","type":"function","z":"8dbf35cb.54a7d8","name":"Fail validation","func":"\nmsg.statusCode = 400\nmsg.payload = msg.errorMessage\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525.0141220092773,"y":272.81940841674805,"wires":[["526ea140.aafd6"]]},{"id":"90a9b45d31056f5c","type":"function","z":"8dbf35cb.54a7d8","name":"Set monimal SR as payload","func":"msg.payload = msg.SR\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":398.0115051269531,"y":525.8109378814697,"wires":[["59951d72d5715d87"]]},{"id":"85edde7bf9fdece3","type":"http request","z":"8dbf35cb.54a7d8","name":"Send to server as transaction","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:9199/baseR4","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"other","valueValue":"application/json+fhir"}],"x":212.00852966308594,"y":373.1433734893799,"wires":[["f744d8a9e2e5057a"]]},{"id":"f744d8a9e2e5057a","type":"switch","z":"8dbf35cb.54a7d8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430.0113983154297,"y":370.5239715576172,"wires":[["421ca326ea2f421a"],["90a9b45d31056f5c"]]},{"id":"0ea727178488e9cf","type":"function","z":"8dbf35cb.54a7d8","name":"Check that is a bundle","func":"let bundle = msg.payload\nif ( bundle.resourceType == 'Bundle' && bundle.entry.length > 0) {\n    msg.isBundle = true\n \n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":373.00853729248047,"y":64.84659576416016,"wires":[["e4956baf9cf03915"]]},{"id":"e4956baf9cf03915","type":"switch","z":"8dbf35cb.54a7d8","name":"","property":"isBundle","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":583.0127372741699,"y":64.83096408843994,"wires":[["cc9f3235b78dc60a","fdc75a3c8d9eb02a"],["8ea594e31f85653d"]]},{"id":"8ea594e31f85653d","type":"function","z":"8dbf35cb.54a7d8","name":"Not a bundle","func":"let oo = {resourceType:\"OperationOutcome\",issue:[]}\noo.issue.push({severity:\"fatal\",code:\"\",diagnostics:\"Must be a Bundle resource with 1 or more entries\"})\n\nmsg.statusCode = 400\nmsg.payload = oo\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":847.0070495605469,"y":64.84373569488525,"wires":[["526ea140.aafd6"]]},{"id":"f45f36d07e84ecb1","type":"http request","z":"8dbf35cb.54a7d8","name":"Save to \\Bundle endpoint","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:9199/baseR4/Bundle","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":605.0069274902344,"y":216.10371589660645,"wires":[[]]},{"id":"fdc75a3c8d9eb02a","type":"function","z":"8dbf35cb.54a7d8","name":"Set bundle type to collection","func":"msg.payload.type = \"collection\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":648.0068969726562,"y":138.66620254516602,"wires":[["f45f36d07e84ecb1"]]},{"id":"421ca326ea2f421a","type":"function","z":"8dbf35cb.54a7d8","name":"Fail save","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":624.0112533569336,"y":344.6647701263428,"wires":[["526ea140.aafd6"]]},{"id":"becccea734dc6f40","type":"comment","z":"8dbf35cb.54a7d8","name":"No error check","info":"We're not checking for an error here. In real\nlife should probably go into a retry queue\nor similar","x":730.0114250183105,"y":526.6945724487305,"wires":[]},{"id":"d33e65970f5fed7a","type":"function","z":"8dbf35cb.54a7d8","name":"Set response message","func":"let oo = { resourceType: \"OperationOutcome\", issue: [] }\noo.issue.push({ severity: \"information\", code: \"informational\", diagnostics: \"Request saved on server. Notification sent to lab.\" })\n\nmsg.statusCode = 201\nmsg.payload = oo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":834.019905090332,"y":370.72583770751953,"wires":[["526ea140.aafd6"]]},{"id":"8261501cd0934efc","type":"http in","z":"7dbe8a1007b1c0cc","name":"","url":"/acceptReport","method":"post","upload":false,"swaggerDoc":"","x":220.01988220214844,"y":238.26562880859376,"wires":[["fd52c9194246d643","eddd770b4e4ffa4f"]]},{"id":"fd52c9194246d643","type":"http response","z":"7dbe8a1007b1c0cc","name":"","statusCode":"","headers":{},"x":717.0084686279297,"y":251.24858474121095,"wires":[]},{"id":"eddd770b4e4ffa4f","type":"debug","z":"7dbe8a1007b1c0cc","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":535.0198822021484,"y":163.05257033691407,"wires":[]}]